@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Band Central</h1>
    <p class="lead">Band Central is an application that allows you to track your favorite bands.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To favorite your bands, or to create/edit/delete a band, start here!
        </p>
        <p>@Html.ActionLink("Bands>>", "Index", "Band",null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>See your favorite bands</h2>
        <p>To see which bands you have favorited, start here!</p>
        <p>@Html.ActionLink("Profile>>", "Index", "Profile",null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Account Settings</h2>
        <p>To manage your account settings, start here!</p>
        <p>@Html.ActionLink("Manage>>", "Index", "Manage",null, new { @class = "btn btn-default" })</p>
    </div>
</div>